In [217]:
# Dependencies and Setup
import pandas as pd

In [218]:
#File to load
heroesofpymoli = "Resources/purchase_data.csv"
#reading file and store into Pandas data frame
heroesofpymoli_df = pd.read_csv(heroesofpymoli)
heroesofpymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [219]:
#Display total number of players
total_players = len(heroesofpymoli_df["SN"].value_counts())
total_players

576

In [220]:
#number of unique items
unique_items = heroesofpymoli_df["Item ID"].nunique()
unique_items

179

In [221]:
#average purchase price
average_price = round(heroesofpymoli_df["Price"].mean(),2)
average_price

3.05

In [222]:
#total number of purchases
total_purchases = heroesofpymoli_df["Price"].count()
total_purchases

780

In [223]:
#total revenue
total_revenue = heroesofpymoli_df["Price"].sum()
total_revenue

2379.77

In [225]:
#Purchasing Analysis (Totals)
purchasing_analysis = {'Unique Items':[unique_items], 'Average Price':[average_price], 'Total Purchases':[total_purchases], 'Total Revenue':[total_revenue]}
purchasing_analysis = pd.DataFrame(purchasing_analysis)
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

In [226]:
#player groups
males = heroesofpymoli_df.groupby("Gender")["SN"].nunique()
males

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [227]:
male_percent = round((males/total_players)*100,2)
male_percent

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [230]:
#Gender Demographics
demo_summary = pd.DataFrame({"Count": males, "Percent": male_percent})

demo_summary

                       Count  Percent
Gender
Female                    81    14.06
Male                     484    84.03
Other / Non-Disclosed     11     1.91

In [16]:
#purchase stats
male_spend = heroesofpymoli_df.groupby("Gender")["Purchase ID"].count()
male_spend

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [62]:
ave_spend = heroesofpymoli_df.groupby("Gender")["Price"].mean().round(2)
ave_spend

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [63]:
total_spend = heroesofpymoli_df.groupby("Gender")["Price"].sum()
total_spend

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [65]:
ave_per_person = (total_spend/males).round(2)
ave_per_person

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [215]:
spend_summary = pd.DataFrame({"Count": male_spend, "Average Purchase": ave_spend, "Total Purchase": total_spend, "Avg Purchase per Person": ave_per_person})
spend_summary["Average Purchase"] = spend_summary["Average Purchase"].map("${:,.2f}".format)
spend_summary["Total Purchase"] = spend_summary["Total Purchase"].map("${:,.2f}".format)
spend_summary["Avg Purchase per Person"] = spend_summary["Avg Purchase per Person"].map("${:,.2f}".format)
spend_summary

,Count,Average Purchase,Total Purchase,Avg Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [212]:
#Age Demographics
purchases_age = heroesofpymoli_df.groupby(["Age"])["Price"].count()
purchases_age

Age
7      9
8      8
9      6
10     9
11     7
12     6
13     4
14     2
15    35
16    30
17    22
18    26
19    23
20    99
21    62
22    70
23    67
24    67
25    59
26    14
27    10
28     5
29    13
30    35
31     7
32     8
33    14
34     9
35    14
36     5
37     7
38     9
39     6
40     6
41     2
42     1
43     1
44     2
45     1
Name: Price, dtype: int64

In [68]:
bins = [0,10,14,19,24,29,34,39,40]
age_ranges = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
heroesofpymoli_df["Age Groups"] = pd.cut(heroesofpymoli_df["Age"], bins, labels=age_ranges)

In [200]:
purchase_count = heroesofpymoli_df.groupby(["Age Groups"])["Price"].count()
purchase_count

Age Groups
<10       32
10-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Price, dtype: int64

In [201]:
ave_price = heroesofpymoli_df.groupby(["Age Groups"])["Price"].mean().round(2)
ave_price

Age Groups
<10      3.40
10-14    2.68
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.78
Name: Price, dtype: float64

In [202]:
total_purchases = heroesofpymoli_df.groupby(["Age Groups"])["Price"].sum().round(2)
total_purchases

Age Groups
<10       108.96
10-14      50.95
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

In [203]:
ave_total_group = (total_purchases/purchase_count).round(2)
ave_total_group

Age Groups
<10      3.40
10-14    2.68
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.78
Name: Price, dtype: float64

In [209]:
age_summary = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": ave_price, "Total Purchase Value": total_purchases, "Ave Total Purchase": ave_total_group})
age_summary["Average Purchase Price"] = age_summary["Average Purchase Price"].map("${:,.2f}".format)
age_summary["Total Purchase Value"] = age_summary["Total Purchase Value"].map("${:,.2f}".format)
age_summary["Ave Total Purchase"] = age_summary["Ave Total Purchase"].map("${:,.2f}".format)
age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase
Age Groups,,,,
<10,32,$3.40,$108.96,$3.40
10-14,19,$2.68,$50.95,$2.68
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,6,$2.78,$16.71,$2.78

In [107]:
#Top Spenders
top_spenders = heroesofpymoli_df.groupby("SN")

In [109]:
purchase_count = top_spenders["Purchase ID"].count()
purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [111]:
ave_price = top_spenders["Price"].mean()
ave_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [113]:
total_value = top_spenders["Price"].sum()
total_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [264]:
spend_summary = pd.DataFrame({"Purchase Count": purchase_count, "Ave Purchase Price": ave_price, "Total Purchase Value": total_value})
top_spend_summary = spend_summary.sort_values(["Total Purchase Value"], ascending=False).head(5)
top_spend_summary["Ave Purchase Price"] = top_spend_summary["Ave Purchase Price"].map("${:,.2f}".format)
top_spend_summary["Total Purchase Value"] = top_spend_summary["Total Purchase Value"].map("${:,.2f}".format)
top_spend_summary

             Purchase Count Ave Purchase Price Total Purchase Value
Lisosia93               NaN               $nan               $18.96
Idastidru52             NaN               $nan               $15.45
Chamjask73              NaN               $nan               $13.83
Iral74                  NaN               $nan               $13.62
Iskadarya95             NaN               $nan               $13.10

In [266]:
#Most Popular Items
most_pop = heroesofpymoli_df.groupby(["Item ID", "Item Name"])

In [267]:
count = most_pop["Price"].count()
count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [270]:
price = most_pop['Price'].sum()
price

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [271]:
total_val = price/count
total_val

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [282]:
pop_summary = pd.DataFrame({"Purchase Count": count, "Item Price": total_val, "Total Value": price })
pop_summary
top_pop = pop_summary.sort_values("Purchase Count", ascending=False).head(5)
top_pop["Item Price"] = top_pop["Item Price"].map("${:,.2f}".format)
top_pop["Total Value"] = top_pop["Total Value"].map("${:,.2f}".format)
top_pop

,,Purchase Count,Item Price,Total Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [290]:
# Most Profitable Items
most_profit = pop_summary.sort_values("Total Value", ascending=False)
most_profit["Item Price"] = most_profit["Item Price"].map("${:,.2f}".format)
most_profit["Total Value"] = most_profit["Total Value"].map("${:,.2f}".format)
most_profit.head(5)

,,Purchase Count,Item Price,Total Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80