In [5]:
import pandas as pd

In [6]:
heroesofpymoli = "Resources/purchase_data.csv"
heroesofpymoli_df = pd.read_csv(heroesofpymoli)
heroesofpymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
#Display total number of players
total_players = len(heroesofpymoli_df["SN"].value_counts())
total_players

576

In [8]:
#number of unique items
unique_items = heroesofpymoli_df["Item ID"].nunique()
unique_items

179

In [9]:
#average purchase price
average_price = round(heroesofpymoli_df["Price"].mean(),2)
average_price

3.05

In [10]:
#total number of purchases
total_purchases = heroesofpymoli_df["Price"].count()
total_purchases

780

In [11]:
#total revenue
total_revenue = heroesofpymoli_df["Price"].sum()
total_revenue

2379.77

In [12]:
#Purchasing Analysis (Totals)
purchasing_analysis = {'Unique Items':[unique_items], 'Average Price':[average_price], 'Total Purchases':[total_purchases], 'Total Revenue':[total_revenue]}
purchasing_analysis = pd.DataFrame(purchasing_analysis)
purchasing_analysis

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179           3.05              780        2379.77

In [13]:
#player groups
males = heroesofpymoli_df.groupby("Gender")["SN"].nunique()
males

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [14]:
male_percent = round((males/total_players)*100,2)
male_percent

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [15]:
#Gender Demographics
demo_summary = pd.DataFrame({"Count": males, "Percent": male_percent})
demo_summary

                       Count  Percent
Gender
Female                    81    14.06
Male                     484    84.03
Other / Non-Disclosed     11     1.91

In [16]:
#purchase stats
male_spend = heroesofpymoli_df.groupby("Gender")["Purchase ID"].count()
male_spend

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [17]:
ave_spend = heroesofpymoli_df.groupby("Gender")["Price"].mean()
ave_spend

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
total_spend = heroesofpymoli_df.groupby("Gender")["Price"].sum()
total_spend

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
ave_per_person = (total_spend/males)
ave_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [40]:
spend_summary = pd.DataFrame({"Count": male_spend, "Average Purchase": ave_spend, "Total Purchase": total_spend, "Avg Purchase per Person": ave_per_person})
spend_summary

,Count,Average Purchase,Total Purchase,Avg Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [41]:
#Age Demographics
ages = heroesofpymoli_df("Age").max()
ages

TypeError: 'DataFrame' object is not callable